@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap");

:root {
  --base-100: #fff;
  --base-200: #eff1eb;
  --base-300: #5b553b;
  --base-400: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a,
p {
  color: var(--base-300);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Geist Mono";
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: -0.0125rem;
  line-height: 1;
  display: inline-block;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  gap: 2rem;
  padding: 2rem;
  will-change: transform;
  z-index: 1;
}

.nav-logo,
.nav-cta {
  flex: 1;
  display: flex;
}

.nav-cta {
  justify-content: flex-end;
}

.nav-links {
  flex: 2;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

nav a {
  height: max-content;
  color: var(--base-300);
  background-color: var(--base-200);
  padding: 0.25rem 0.5rem;
}

.nav-logo a {
  color: var(--base-100);
  background-color: var(--base-300);
}

section {
  position: relative;
  width: 100%;
  height: 100svh;
  will-change: transform;
  overflow: hidden;
}

.hero-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
}

.hero-content {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  will-change: transform;
}

.product-name,
.product-link {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 2.5rem;
}

.product-name {
  background-color: var(--base-100);
}

.product-link {
  background-color: var(--base-300);
}

.product-link a {
  color: var(--base-100);
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  padding: 2rem;
  background-color: var(--base-400);
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  will-change: clip-path;
  overflow: hidden;
  z-index: 2;
}

.preloader p {
  color: var(--base-100);
}

.preloader-revealer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 100%;
  aspect-ratio: 1;
  background-color: var(--base-300);
  will-change: transform;
  z-index: 2;
}

.preloader-copy,
.preloader-copy-col,
.preloader-counter {
  flex: 1;
  display: flex;
}

.preloader-counter {
  justify-content: flex-end;
}

.preloader-copy p {
  width: 75%;
}

.line {
  will-change: transform;
  transform: translateY(100%);
}

@media (max-width: 1000px) {
  nav .nav-links {
    display: none;
  }

  .preloader,
  .preloader-copy {
    flex-direction: column;
  }

  .preloader-revealer {
    width: 200%;
  }

  .preloader-copy-col {
    align-items: center;
  }

  .preloader-copy p {
    width: 100%;
  }

  .preloader-counter {
    align-items: center;
  }
}
